.App{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: url("./5172214.jpg");
}
.img{
    width: 200px;

}
@font-face {
    font-family: ZenMaruGothic_Regular;

    src:url("./ZenMaruGothic-Regular.ttf");
}
h1,h2,p{
    font-family: ZenMaruGothic_Regular;
}

p {
    font-size: 18px;
    margin: 40px;
}