@font-face {
    font-family: ZenMaruGothic_Regular;

    src:url("./fonts/ZenMaruGothic-Regular.ttf");
}
span{
    font-weight: bold;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("./imgs/5172214.jpg");
    font-family: ZenMaruGothic_Regular;
}
.header {
    text-align: center;
}
h1{
    font-size: 42px;
}
h2{
    font-size: 38px;
}
p {
    border: 1px solid grey;
    padding: 15px;
    font-size: 25px;
    margin: 40px;
}

figcaption{
    background-color: #ffe6cc;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
}
.img{
    width: 400px;

}
.card{
     border: 1px solid grey;
     border-radius: 15px;
 }
.info{
    font-size: 24px;
    align-self: flex-start;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;

    padding-bottom: 20px;
}
