@font-face {
    font-family: AmaticSC_Regular;

    src:url("./Amatic_SC/AmaticSC-Regular.ttf");
}
span{
    font-weight: bold;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("./imgs/5172214.jpg");
    font-family: AmaticSC_Regular;
}
.header {
    text-align: center;
}
h1{
    font-size: 52px;
}
h2{
    font-size: 48px;
}
p {
    border: 1px solid grey;
    padding: 15px;
    font-size: 35px;
    margin: 40px;
}
.card{
    border: 1px solid grey;
    border-radius: 15px;
    float: top;
    text-align: center;
}
figcaption{
    background-color: #ffe6cc;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 30px;
}
.img{
    width: 200px;

    padding-left: auto;
    padding-right: auto;
}

.info{
    font-size: 34px;
    align-self: flex-start;
    margin-bottom: 30px;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.footer{
    margin-bottom: 20px;
}
